@model AppraisalTool.App.Models.SelfAppraisal.SelfAppraisalHome
@{
    //ViewData["Title"] = "AppraisalTool";
}


<style>
    .dash-card {
        width: 100%;
    }

    .roles {
        display: inline;
    }

    .Anchor-body {
        text-decoration: none;
    }

    .icon-card {
        font-size: 3rem;
        font-weight: 300;
    }

    .role-div {
        background-color: white;
        border-radius: 0.5rem;
    }

    .user-roles {
        margin-right: 18px;
    }

    .appraisal-card {
        /*padding: 0.2rem 0.5rem !important;*/
        padding: .2em .5em;
        width: 100%;
    }

    .appraisal > p {
        margin-bottom: 0%;
    }

    .Last-Date {
        margin-right: 40px;
    }

    .gradient-1 {
        background-image: linear-gradient(30deg, #316bfd, #6f1ef1);
    }

    .gradient-2 {
        background-image: linear-gradient(30deg, #fa1157, #fc4939);
    }

    .gradient-3 {
        background-image: linear-gradient(30deg, #fd9d2e, #ff550d);
    }

    .Dropdown {
        display: flex;
        width: 200px !important;
        height: 40px !important;
    }



  

    .appraisal-dash-card {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 3em;
    }

    .text-dropdown {
        font-weight: bolder;
        text-size: 0.9em;
    }

    a:link {
        background-color: transparent;
        text-decoration: none;
    }

    .BreadCrump > a:visited {
        color: grey;
        background-color: transparent;
        text-decoration: none;
    }

    .BreadCrump > a:hover {
        color: black;
        background-color: transparent;
        text-decoration: underline;
    }

    .BreadCrump > a:active {
        color: yellow;
        background-color: transparent;
        text-decoration: underline;
    }
</style>

<link rel="stylesheet" href="~/lib/package/dist/sweetalert2.min.css">
<script src="~/lib/package/dist/sweetalert2.all.min.js"></script>
<script src="~/lib/package/dist/sweetalert2.all.js"></script>
<script src="~/lib/package/dist/sweetalert2.min.js"></script>




@if (TempData["UpdateSUCCESS"] != null)
{


    <script>

        const Toast = Swal.mixin({
            toast: true,
            position: 'top-end',
            showConfirmButton: false,
            timer: 3000,
            timerProgressBar: true,
            didOpen: (toast) => {
                toast.addEventListener('mouseenter', Swal.stopTimer)
                toast.addEventListener('mouseleave', Swal.resumeTimer)
            }
        })

        Toast.fire({
            icon: 'success',
            title: '  @TempData["UpdateSUCCESS"]'
        })
    </script>
}
@if (TempData["UpdateError"] != null)
{


    <script>

        const Toast = Swal.mixin({
            toast: true,
            position: 'top-end',
            showConfirmButton: false,
            timer: 3000,
            timerProgressBar: true,
            didOpen: (toast) => {
                toast.addEventListener('mouseenter', Swal.stopTimer)
                toast.addEventListener('mouseleave', Swal.resumeTimer)
            }
        })

        Toast.fire({
            icon: 'error',
            title: '@TempData["UpdateError"]'
        })
    </script>
}





@if (TempData["RequestSuccess"] != null)
{


    <script>

        const Toast = Swal.mixin({
            toast: true,
            position: 'top-end',
            showConfirmButton: false,
            timer: 3000,
            timerProgressBar: true,
            didOpen: (toast) => {
                toast.addEventListener('mouseenter', Swal.stopTimer)
                toast.addEventListener('mouseleave', Swal.resumeTimer)
            }
        })

        Toast.fire({
            icon: 'success',
            title: '  @TempData["RequestSuccess"]'
        })
    </script>
}
@if (TempData["RequestError"] != null)
{


    <script>

        const Toast = Swal.mixin({
            toast: true,
            position: 'top-end',
            showConfirmButton: false,
            timer: 3000,
            timerProgressBar: true,
            didOpen: (toast) => {
                toast.addEventListener('mouseenter', Swal.stopTimer)
                toast.addEventListener('mouseleave', Swal.resumeTimer)
            }
        })

        Toast.fire({
            icon: 'error',
            title: '@TempData["RequestError"]'
        })
    </script>
}

@if (TempData["SUCCESS"] != null)
{


    <script>

        const Toast = Swal.mixin({
            toast: true,
            position: 'top-end',
            showConfirmButton: false,
            timer: 3000,
            timerProgressBar: true,
            didOpen: (toast) => {
                toast.addEventListener('mouseenter', Swal.stopTimer)
                toast.addEventListener('mouseleave', Swal.resumeTimer)
            }
        })

        Toast.fire({
            icon: 'success',
            title: '  @TempData["SUCCESS"]'
        })
    </script>
}
@if (TempData["Error"] != null)
{


    <script>

        const Toast = Swal.mixin({
            toast: true,
            position: 'top-end',
            showConfirmButton: false,
            timer: 3000,
            timerProgressBar: true,
            didOpen: (toast) => {
                toast.addEventListener('mouseenter', Swal.stopTimer)
                toast.addEventListener('mouseleave', Swal.resumeTimer)
            }
        })

        Toast.fire({
            icon: 'error',
            title: 'Error occured while submiting'
        })
    </script>
}
<div class="content-wrapper main-panel content-wrapper-red">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-controller="Dashboard" class="active" asp-action="Dashboard">Dashboard</a>
                <input hidden  id="userId" value=@ViewBag.UserId type="number" />
            </li>
            <li class="breadcrumb-item active" aria-current="page">Appraisal</li>
        </ol>
    </nav>

    <div style="width:100%; background-color: white;border-radius: 0.5rem;" class="container">

        <!-- <h2 >Appraisal Home</h2> -->
        <div>
            <h2 style="padding-top:30px;padding-left: 20px;">Appraisal</h2>
        </div>
        <div>
            @{
                string fid = "";
                string fyear = "";
                                <p style="padding-top:30px" class="mx-5">FY Selection</p>
                                <h1>@fid @fyear</h1>
                                <div class="Dropdown mx-5">

                    <select asp-for="StartYear" id="FincaialYear" class="form-control form-select FincaialYear color-black" asp-items="@ViewBag.financialYearList">
                    </select>


                                </div>
            }
            <div class="m-5">

                <div class="appraisal-dash-card" style="overflow:auto;">
                    <!-- <div class="col-md-1"></div> -->
                    @foreach (var item in ViewBag.GetMenuCards)
                    {
                        if (item.menuList.menuFlag == "AppraisalHome")
                        {
                            if (item.menuList.menuAction == "SelfAppraisalDashboard")
                            {
                                <div style="max-width:500px;max-height:500px;">
                                    <a id="SelfAppraisal" class="@item.menuList.menuClass">
                                        <div class="card-body">
                                            <img src="/lib/assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image">
                                            <h4 class="font-weight-normal mb-3">
                                                @item.menuList.menuText @item.menuList.menuIcon
                                            </h4>
                                                        <h6>Total appraisal to be filled</h6>
                                            <p>1</p>
                                            <h6>Pending Appraisals</h6>
                                            <p id="pendingAppraisal">@ViewBag.PendingAppraisals </p>
                                            <div style="text-align:end ;" class="Last-Date">
                                                <h6>Last date</h6>
                                               <h4 id="self-AppraisalEndDate" class="lastDate">@ViewBag.LastDate </h4>
                                            </div>
                                            <!-- <h2 class="mb-5">$ 15,0000</h2>
                                            <h6 class="card-text">Increased by 60%</h6> -->
                                        </div>
                                    </a>
                                </div>
                            }
                            else
                            {

                                <div style="max-width:500px;max-height:500px;">
                                    <a asp-controller="@item.menuList.menuController" asp-action="@item.menuList.menuAction" class="@item.menuList.menuClass">
                                        <div class="card-body">
                                            <img src="/lib/assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image">
                                            <h4 class="font-weight-normal mb-3">
                                                @item.menuList.menuText @item.menuList.menuIcon
                                            </h4>
                                            <h6>Total appraisal to be filled</h6>
                                            <p>@ViewBag.ReporteeCompleted</p>
                                            <h6>Pending Appraisals</h6>
                                            <p>@ViewBag.PendingAtReportee </p>
                                            <div style="text-align:end ;" class="Last-Date">
                                                <h6>Last date</h6>
                                                <h4 class="lastDate">@ViewBag.LastDate </h4>
                                            </div>
                                        </div>
                                    </a>
                                </div>

                            }
                        }
                    }






                    @* <div class="card bg-gradient-info card-img-holder text-white Dash-Card">
                    <div class="card-body">
                    <img src="/lib/assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image">
                    <h4 class="font-weight-normal mb-3">
                    Appraisal Tool <i class="mdi mdi-chart-line mdi-24px float-right"></i>
                    </h4>
                    <i class=" icon-card mdi mdi-trophy-outline"></i>

                    <!-- <h2 class="mb-5">$ 15,0000</h2>
                    <h6 class="card-text">Increased by 60%</h6> -->
                    </div>
                    </div>*@

                </div>
            </div>


        </div>

        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
        <!-- partial -->
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript">

    document.addEventListener("DOMContentLoaded", function(event) {
        const SelectDrp = document.querySelector('#FincaialYear');
        const SelfAppraisalDashboard = document.querySelector("#SelfAppraisal");
        let text = SelectDrp.options[SelectDrp.selectedIndex].text;
        let userId = document.getElementById('userId').value;
        //alert(userId);
          fetch('/AppraisalHomePage/PendingAppriasalCount?id='+SelectDrp.value+'&userId='+userId)
            .then(res =>  res.json())
             .then(data => { 
                 //console.log(data);
                 //alert(data);
                  if(data>1){
                 document.getElementById('pendingAppraisal').innerText ="0";
              }
              else{
                   document.getElementById('pendingAppraisal').innerText ="1";
            }
                

             })
               fetch('/AppraisalHomePage/startDateEndDate?id=' + SelectDrp.value)
            .then(res =>  res.json())
             .then(data => { 
                 //console.log(data);
                  let endDateOfYear = data.endDate;
                let currentEndDate = new Date(endDateOfYear);
                let datearray = currentEndDate.toString().split(" ");
                let endDateArray = datearray.splice(1, 3);
                let finalEnddateFormat = `${endDateArray[1]}st  ${endDateArray[0]}  ${endDateArray[2]} `;
                //alert(finalEnddateFormat);
                //console.log(endDateArray);
                document.querySelectorAll(".lastDate").forEach(ele=>{
                    ele.innerText =finalEnddateFormat;
                })
         @*        document.getElementById('self-AppraisalEndDate').innerText =finalEnddateFormat;
                 document.getElementById('Report-AppraisalEndDate').innerText =finalEnddateFormat;
                 document.getElementById('Review-AppraisalEndDate').innerText =finalEnddateFormat;*@

             })
        console.log("On Load + ", text);
        SelfAppraisalDashboard.setAttribute("href", `/AppraisalHomePage/SelfAppraisalDashboard?Fyear=${text}&Fid=${SelectDrp.value}`);

        const menuCards = document.querySelectorAll(".card-menu");
        if (menuCards.length == 1) {
            menuCards[0].classList.add("w-50");
        }
    });

    const SelectDrp = document.querySelector('#FincaialYear');
    SelectDrp.addEventListener("change", (event) => {
        console.log("changed")
        var d = document.getElementById("FincaialYear").value;
        var sel = document.getElementById("FincaialYear");
        var text = sel.options[sel.selectedIndex].text;
        console.log(event.target.value);
        const SelectDrp = document.querySelector('#SelfAppraisal');
        SelectDrp.setAttribute("href", `/AppraisalHomePage/SelfAppraisalDashboard?Fyear=${text}&Fid=${d}`)
        console.log(SelectDrp);

        //var valueHref = document.getElementById("SelfAppraisal").href = "/AppraisalHomePage/SelfAppraisalDashboard?Fyear=" + text + "&Fid=" + d";
    });
      $('#FincaialYear').change(function() {
        @*  alert("heluuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuu");*@
          console.log("inside change financial");
        var id = $(this).val();
        var userId = $('#userId').val();
        //alert("id===" + id);
        $.ajax({

            url: '/AppraisalHomePage/startDateEndDate?id=' + id,
            success: function(response) {
                console.log("inside success");
                let endDateOfYear = response.endDate;
                let currentEndDate = new Date(endDateOfYear);
                let datearray = currentEndDate.toString().split(" ");
                let endDateArray = datearray.splice(1, 3);
                let finalEnddateFormat = `${endDateArray[1]}st ${endDateArray[0]}  ${endDateArray[2]} `;
                console.log("finalEnddateFormat",finalEnddateFormat)
                document.querySelectorAll(".lastDate").forEach(ele=>{
                    console.log("inside foreach")
                    ele.innerText =finalEnddateFormat;
                    console.log(ele);
          
                })
             @*   $('#self-AppraisalEndDate').text(finalEnddateFormat);
                 $('#Report-AppraisalEndDate').text(finalEnddateFormat);
                  $('#Review-AppraisalEndDate').text(finalEnddateFormat);*@
             
            }

        })
         $.ajax({

            url: '/AppraisalHomePage/PendingAppriasalCount?id='+id+'&userId='+userId,
            success: function(response) {

                //alert(response);
              if(response>1){
                 $('#pendingAppraisal').text("0");
              }
              else{
                   $('#pendingAppraisal').text("1");
            }

                
                
            }
            

        })
    });



</script>
<!-- plugins:js -->
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
    <script src="./lib/assets/vendors/js/vendor.bundle.base.js"></script>

    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="./lib/assets/js/off-canvas.js"></script>


    <script src="./lib/assets/js/hoverable-collapse.js"></script>

    <script src="./lib/assets/js/misc.js"></script>
    <!-- endinject -->

    <script src="~/lib/assets/vendors/js/vendor.bundle.base.js"></script>


    @*<script src="assets/vendors/chart.js/Chart.min.js"></script>*@
    <script src=" ~/lib/assets/vendors/chart.js/Chart.min.js"></script>
    @*    <script src="assets/js/jquery.cookie.js" type="text/javascript"></script>*@
    <script src=" ~/lib/assets/js/jquery.cookie.js" type="text/javascript"></script>

    @*<script src="assets/js/off-canvas.js"></script>
=======
    @*<script src="assets/vendors/chart.js/Chart.min.js"></script>
    <script src=" ~/lib/assets/vendors/chart.js/Chart.min.js"></script>
    @*    <script src="assets/js/jquery.cookie.js" type="text/javascript"></script>*@
    <script src=" ~/lib/assets/js/jquery.cookie.js" type="text/javascript"></script>
    @*<script src="assets/js/off-canvas.js"></script>
>>>>>>> 138aacca1a1b878c3f8d332e5f2f8f1a4631e48b
    <script src="assets/js/hoverable-collapse.js"></script>
    <script src="assets/js/misc.js"></script>*@
    <script src=" ~/lib/assets/js/off-canvas.js"></script>
    <script src=" ~/lib/assets/js/hoverable-collapse.js"></script>
    <script src=" ~/lib/assets/js/misc.js"></script>



