@model AppraisalTool.App.Models.SelfAppraisal.SelfAppraisalHome
@{
    ViewData["Title"] = "HomePageAppraisal";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Purple Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../../assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../../assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="../../assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="../../assets/images/favicon.ico" />
    <style>
        .dash-card {
            width: 100%;
        }

        .roles {
            display: inline;
            
        }

        .Anchor-body {
            text-decoration: none;
            
        }

        .icon-card {
            font-size: 3rem;
            font-weight: 300;
            
        }

        .role-div {
            background-color: white;
            border-radius: 0.5rem;
            
        }

        .user-roles {
            margin-right: 18px;

        }

        .appraisal-card {
            /*padding: 0.2rem 0.5rem !important;*/
            padding: .2em .5em;
            width: 100%;
        }

        .appraisal > p {
            margin-bottom: 0%;

        }

        .Last-Date {
            margin-right: 40px;


        }

        .gradient-1 {
            background-image: linear-gradient(30deg, #316bfd, #6f1ef1);
            
        }

        .gradient-2 {
            
            background-image: linear-gradient(30deg, #fa1157, #fc4939);
        }

        .gradient-3 {
            
            background-image: linear-gradient(30deg, #fd9d2e, #ff550d);
        }

        .Dropdown {
            
            display: flex;
            width: 200px !important;
            height : 40px !important;


        }

        .appraisal-dash-card {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            gap: 3em;
        }
        .text-dropdown{
            font-weight:bolder;
            text-size: 0.9em;
        }

        .navigation:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}
.navigation:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}
.navigation:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
.navigation:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}




    </style>
</head>
<body>
    
  
        <div class="content-wrapper main-panel">
            <div style="height:100vh ;width:100%; background-color: white;border-radius: 0.5rem;" class="container">
                <h4><a asp-controller="Dashboard" asp-action="Dashboard" class="navigation">Dashboard</a>  /<a asp-controller="AppraisalHomePage" asp-action="HomePageAppraisal" class="navigation"> Home   </a>   </h4>
                <!-- <h2 >Appraisal Home</h2> -->
                <div>
                    <h2 style="padding-top:30px;padding-left: 20px;">Appraisal Home</h2>
                </div>
                <div>
                    <p style="padding-top:30px">FY Selection</p>
                    <div class="Dropdown">
                     
                        <select asp-for="StartYear" class="form-control" asp-items="@ViewBag.financialYearList">
                            <option class=" text-dropdown">Select Financial Year</option>
                        </select>
                       

                    </div>

                    <div class="mt-5">
                        <div class="appraisal-dash-card">
                            <!-- <div class="col-md-1"></div> -->
                            <div class="dash-card">
                                <a asp-action="SelfAppraisalDashboard" class="Anchor-body">
                                    <div class="card gradient-1 card-img-holder text-white">
                                        <div class="card-body appraisal-card">
                                            <img src="../../assets/images/dashboard/circle.svg" class="card-img-absolute" alt="" />
                                            <h2 class="font-weight-normal pt-2">
                                                Self <br />Appraisal
                                            </h2>
                                            <h6>Total appraisal to be filled</h6>
                                           <p>@ViewBag.AppraisalsToBeFilled</p>
                                            <h6>Pending Appraisals</h6>
                                            <p>@ViewBag.PendingAppraisals </p>


                                            <div style="text-align:end ;" class="Last-Date">
                                                <h6>Last date</h6>
                                                <h4>@ViewBag.LastDate </h4>
                                            </div>


                                        </div>
                                    </div>
                                </a>
                            </div>


                            <div class="dash-card">
                                <a asp-controller="ReporteeAppraisalDashboard" asp-action="ReporteeAppraisalDashboard" class="Anchor-body">
                                    <div class="card gradient-2 card-img-holder text-white">
                                        <div class="card-body appraisal-card">
                                            <img src="../../assets/images/dashboard/circle.svg" class="card-img-absolute" alt="" />
                                            <h2 class="font-weight-normal pt-2">
                                                Reportee <br />Appraisal
                                            </h2>
                                            <h6>Total appraisal to be filled</h6>
                                            <p>@ViewBag.AppraisalsToBeFilled</p>
                                            <h6>Pending Appraisals</h6>
                                            <p>@ViewBag.PendingAppraisals </p>


                                            <div style="text-align:end ;" class="Last-Date">
                                                <h6>Last date</h6>
                                                <h4>@ViewBag.LastDate </h4>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>


                            <div class="dash-card">
                                <a href="" class="Anchor-body">
                                    <div class="card gradient-3 card-img-holder text-white">
                                        <div class="card-body appraisal-card">
                                            <img src="../../assets/images/dashboard/circle.svg" class="card-img-absolute" alt="" />
                                            <h2 class="font-weight-normal pt-2">
                                                Appraisal <br /> Review
                                            </h2>
                                            <h6>Total appraisal to be filled</h6>
                                            <p>@ViewBag.AppraisalsToBeFilled</p>
                                            <h6>Pending Appraisals</h6>
                                            <p>@ViewBag.PendingAppraisals</p>


                                            <div style="text-align:end ;" class="Last-Date">
                                                <h6>Last date</h6>
                                                <h4>@ViewBag.LastDate</h4>
                                            </div>
                                            <!-- <i class=" icon-card mdi mdi-airplay"></i> -->
                                            <!-- <h2 class="mb-5">$ 15,0000</h2>
                                            <h6 class="card-text">Increased by 60%</h6> -->

                                        </div>
                                    </div>
                                </a>
                            </div>

                        </div>
                    </div>


                </div>
                
                <!-- content-wrapper ends -->
                <!-- partial:../../partials/_footer.html -->
                <footer class="footer">
                </footer>
                <!-- partial -->
            
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="../../assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="../../assets/js/off-canvas.js"></script>
    <script src="../../assets/js/hoverable-collapse.js"></script>
    <script src="../../assets/js/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <!-- End custom js for this page -->
  
</body>
</html>

