@{
    ViewData["Title"] = "ListUsers";
}

<div class="container">

    <div class="container-scroller ">
        <!-- partial -->
        <div>
            <div class="row">
                <div class="col-lg-12 grid-margin">
                    <div class="card" style="max-width:95%">
                        <div class="card-body">
                            <div class="page-header">
                                <h3 class="page-title"> Users </h3>
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item active" aria-current="page">
                                            <div style="align-items:center;">
                                                <a class="btn btn-block LoginBtn btn-lg font-weight-medium auth-form-btn" asp-action="CreateUser">Create User</a>
                                            </div>
                                        </li>
                                    </ol>
                                </nav>
                            </div>
                           <div style="overflow:scroll;">
                                <table class="table table-bordered" style="max-width:95%">
                                    <thead>
                                        <tr>
                                            <th> Name </th>
                                            <th> Branch </th>
                                            <th> Role </th>
                                            <th> Join Date </th>
                                            <th> Primary Profile </th>
                                            <th> Secondary Profile </th>
                                            <th> Actions </th>  
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (ViewBag.UserList != null)
                                        {
                                            @foreach (var item in ViewBag.UserList)
                                            {
                                                <tr>
                                                    <td style="text-transform:'Capatilize';"> @item.firstName @item.lastName </td>
                                                    <td> @item.branchName </td>
                                                    <td> @item.roleName </td>
                                                    <td> @item.joinDate </td>
                                                    <td> @item.primaryJobProfileName </td>
                                                    <td> @item.secondaryJobProfileName </td>
                                                    <td> <a class="btn btn-sm LoginBtn"><i class="mdi mdi-account-search-outline"></i></a></td>
                                                </tr>
                                            }
                                        }

                                    </tbody>
                                </table>
                           </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>

