@using Microsoft.AspNetCore.Http;
@using Newtonsoft.Json;
@using AppraisalTool.App.Models.Navbar;
<html>
<body>
 
<div class="container-scroller">

    @{
        dynamic json = JsonConvert.DeserializeObject(Context.Session.GetString("navbarViewModel"));
    }
    <!-- partial:partials/_navbar.html -->
   
    <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row no-margin">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
            <a class="navbar-brand brand-logo navbarLogo" asp-action="Dashboard" asp-controller="Dashboard"><img src="~/lib/assets/images/AppraisalToolLogo_adobe_express.svg" alt="logo" /></a>
            <a class="navbar-brand brand-logo-mini LogoMiniUi" asp-action="Dashboard" asp-controller="Dashboard"><img src="~/lib/assets/images/AppraisalToolLogoMini_adobe_express.svg" alt="logo" /></a>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-stretch">
            <button class="navbar-toggler navbar-toggler d-flex align-items-center" type="button" data-toggle="minimize">
                <span class="mdi mdi-menu"></span>
            </button>
            <ul class="navbar-nav navbar-nav-right">
                 <li class="nav-item dropdown">
              <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-bs-toggle="dropdown">
                <i class="mdi mdi-bell-outline"></i>
                <span class="count-symbol bg-danger"></span>
              </a>
              <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
                <h6 class="p-3 mb-0">Notifications</h6>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-success">
                      <i class="mdi mdi-calendar"></i>
                    </div>
                  </div>
                  <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
                    <h6 class="preview-subject font-weight-normal mb-1">Event today</h6>
                    <p class="text-gray ellipsis mb-0"> Just a reminder that you have an event today </p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-warning">
                      <i class="mdi mdi-settings"></i>
                    </div>
                  </div>
                  <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
                    <h6 class="preview-subject font-weight-normal mb-1">Settings</h6>
                    <p class="text-gray ellipsis mb-0"> Update dashboard </p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-info">
                      <i class="mdi mdi-link-variant"></i>
                    </div>
                  </div>
                  <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
                    <h6 class="preview-subject font-weight-normal mb-1">Launch Admin</h6>
                    <p class="text-gray ellipsis mb-0"> New admin wow! </p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <h6 class="p-3 mb-0 text-center">See all notifications</h6>
              </div>
            </li>
                <li class="nav-item nav-profile dropdown">
                    <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                        <div class="nav-profile-img">
                            <img src="~/lib/assets/images/faces/user.png" alt="image">
                            <span class="availability-status online"> </span>
                        </div>
                        <div class="nav-profile-text">
                            <p class="mb-1 text-black">@json.UserName</p>
                        </div>
                    </a>
                    <div class="dropdown-menu navbar-dropdown" aria-labelledby="profileDropdown">
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item signout" onMouseOver="this.style.color='black'"
                           onMouseOut="this.style.color='black'" asp-action="UserLogout" asp-controller="Login">
                            <i class="mdi mdi-logout me-2 text-primary signout"></i> Signout
                        </a>
                    </div>
                </li>
                <li class="nav-item nav-settings d-none d-lg-block">
                    <a class="nav-link" href="#" id="scrlBotm">
                        <i class="mdi mdi-format-line-spacing"></i>
                    </a>
                </li>
                
            </ul>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                <span class="mdi mdi-menu"></span>
            </button>
        </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <ul class="nav">
                <li class="nav-item nav-profile">
                    <a asp-action ="Dashboard" asp-controller="Dashboard" class="nav-link">
                        <div class="nav-profile-image">
                            <img src="~/lib/assets/images/faces/user.png" alt="profile">
                            <span class="login-status online"></span>
                            <!--change to offline or busy as needed-->
                        </div>
                        <div class="nav-profile-text d-flex flex-column">
                            <span class="font-weight-bold mb-2" style="text-transform:capitalize">@json.UserName</span>
                            <span class="text-secondary text-small" style="text-transform:capitalize">@json.UserRole</span>
                        </div>
                        <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
                    </a>
                </li>
                @{
                    foreach (var item in json.SideBarList)
                    {
                        if (item.menuList.menuFlag == "SIDEBAR")
                        {

                                                    <li class="nav-item">
                                                        <a class="nav-link" asp-controller="@item.menuList.menuController" asp-action="@item.menuList.menuAction">
                                                            <span class="@item.menuList.menuClass">@item.menuList.menuText</span>
                                                            <i class="@item.menuList.menuIcon"></i>
                                                        </a>
                                                    </li>
                        }
                    }
                }
            </ul>
        </nav>
    
        </body>
    </html>
    
        <!-- partial -->

 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
 <script>
      $(function () {
             $('#scrlBotm').click(function () {
              
              $(document).scrollTop($(document).height());
             });

            
         });
    </script>

